// @import "../../theme/setTheme.scss";
@import "@meiuca/design-tokens/dist/web/globals.scss";
@import "@meiuca/design-tokens/dist/web/hsl/default.scss";

button {
  border: none;
  font-size: $font-size-sm;
  line-height: $line-height-tight;
  border-radius: $border-radius-none;
  padding: $spacing-squish-xs;
  font-family: $font-family-highlight;
  font-weight: $font-weight-medium;
  color: $color-neutral-05;
  background-color: $color-brand-primary-03;

  &:hover {
    background-color: $color-brand-primary-02;
  }
}